---
import Layout from "../layouts/Layout.astro";
import About from "../components/about.astro";
import SQL from "../components/sql.astro";
import PHP from "../components/php.astro";
import Portfolio from "../components/portfolio.astro";
import Csharp from "../components/csharp.astro";
import Signature from "../components/signature.astro";
import Work from "../components/work.astro";
import Education from "../components/education.astro";
---

<Layout title="My Portfolio">
  <Portfolio />
  <Education />
  <Work />
  <About />
  <Csharp />
  <PHP />
  <SQL />
  <Signature />
</Layout>
<main class="w-full h-full flex flex-row" id="main">
  <div class="w-full h-full flex flex-col p-4 pr-0 z-20" id="left">
    <div id="topLeft" class="w-full h-full flex flex-col items-center">
      <a
        style="font-size: clamp(2em, 5vw, 4em); padding-left: clamp(0.5em,10vw,60em);"
        class="font-smooch border border-solid hover:transition-all hover:shadow-sm
            hover:bg-secondary hover:border-[#ffcd00] hover:shadow-white active:text-white transition-all duration-400 hover:duration-500
            text-[#ffcd00] border-secondary
            w-full h-full content-center
            grid"
        id="portfolio-link">Portfolio</a
      >
      <a
        style="font-size: clamp(2em, 5vw, 4em); padding-left: clamp(0.5em,10vw,60em);"
        class="font-smooch border border-solid hover:transition-all hover:shadow-sm
            hover:bg-secondary hover:border-[#ffcd00] hover:shadow-white active:text-white transition-all duration-400 hover:duration-500
            text-[#ffcd00] border-secondary
            w-full h-full content-center
            grid"
        id="work-link">Work</a
      >
    </div>
    <div id="bottomLeft" class="w-full h-full flex flex-row items-center">
      <a
        style="font-size: clamp(2em, 5vw, 4em); gap: clamp(1em, 20vh,10em);"
        class="font-smooch border border-solid hover:transition-all hover:shadow-sm
            hover:bg-secondary hover:border-[#ffcd00] hover:shadow-white active:text-white transition-all duration-400 hover:duration-500
            text-[#ffcd00] border-secondary
            w-full h-full content-center justify-center
            grid"
        id="php-link">PHP<br /><span>2023</span></a
      >
      <a
        style="font-size: clamp(2em, 5vw, 4em); gap: clamp(1em, 20vh,10em);"
        class="font-smooch border border-solid hover:transition-all hover:shadow-sm
            hover:bg-secondary hover:border-[#ffcd00] hover:shadow-white active:text-white transition-all duration-400 hover:duration-500
            text-[#ffcd00] border-secondary
            w-full h-full content-center justify-center
            grid"
        id="csharp-link">C#<br /><span>2022</span></a
      >
    </div>
  </div>
  <div class="w-full h-full flex flex-col p-4 pl-0 z-20" id="right">
    <div id="topRight" class="w-full h-full flex flex-row items-center">
      <a
        style="font-size: clamp(2em, 5vw, 4em);"
        class="font-smooch border border-solid hover:transition-all hover:shadow-sm
            hover:bg-secondary hover:border-[#ffcd00] hover:shadow-white active:text-white transition-all duration-400 hover:duration-500
            text-[#ffcd00] border-secondary
            w-full h-full content-center justify-center
            grid leading-none"
        id="about-link">About</a
      >
      <a
        style="font-size: clamp(2em, 5vw, 4em); gap: clamp(1em, 20vh,10em);"
        class="font-smooch border border-solid hover:transition-all hover:shadow-sm
            hover:bg-secondary hover:border-[#ffcd00] hover:shadow-white active:text-white transition-all duration-400 hover:duration-500
            text-[#ffcd00] border-secondary
            w-full h-full content-center justify-center
            grid"
        id="sql-link">SQL<br /><span>2023</span></a
      >
    </div>
    <div id="bottomRight" class="w-full h-full flex flex-col items-center">
      <a
        style="font-size: clamp(2em, 5vw, 4em); padding-left: clamp(0.5em,10vw,60em);"
        class="font-smooch border border-solid hover:transition-all hover:shadow-sm
            hover:bg-secondary hover:border-[#ffcd00] hover:shadow-white active:text-white transition-all duration-400 hover:duration-500
            text-[#ffcd00] border-secondary
            w-full h-full content-center
            grid"
        id="education-link">Study</a
      >
      <a
        style="font-size: clamp(2em, 5vw, 4em); padding-right: clamp(0.5em,10vw,60em);"
        class="font-smooch border border-solid hover:transition-all hover:shadow-sm
            hover:bg-secondary hover:border-[#ffcd00] hover:shadow-white
            text-[#ffcd00] border-secondary
            w-full h-full content-center justify-end
            grid"
        id="signature-link"
      >
        WIP</a
      >
    </div>
  </div>
</main>

<style>
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>
<script>
  const linkElements = document.querySelectorAll('[id$="-link"]');
  const sectionLoadEvent = new CustomEvent("sectionLoadEvent");
  const sectionUnloadEvent = new CustomEvent("sectionUnloadEvent");

  const toggleComponentVisibility = (event) => {
    const clickedLink = event.target;
    const componentId = clickedLink.id.replace("-link", "");

    const sectionToToggle = document.getElementById(componentId);
    if (sectionToToggle) {
      // Toggle 'hidden' and 'flex' classes
      if (sectionToToggle.classList.contains("hidden")) {
        // document.querySelectorAll(".bg-secondary").forEach((item) => {
        //   item.classList.remove("bg-secondary");
        //   item.classList.add("bg-white");
        //   document.dispatchEvent(sectionLoadEvent);
        // });
        document.dispatchEvent(sectionLoadEvent);
        setTimeout(() => {
          document.getElementById("main").classList.remove("flex");
          document.getElementById("main").classList.add("hidden");
          sectionToToggle.classList.remove("hidden");
          sectionToToggle.classList.add("flex");
        }, 400);
        setTimeout(() => {
          document.querySelectorAll(".bg-none").forEach((e) => {
            e.classList.remove("bg-none");
            e.classList.add("bg-tertiary");
          });
          document.querySelectorAll(".section-content").forEach((e) => {
            e.classList.remove("opacity-0");
            e.classList.add("opacity-100");
          });
        }, 1000);
      } else {
        document.dispatchEvent(sectionUnloadEvent);
        document.querySelectorAll(".section-content").forEach((e) => {
          e.classList.remove("opacity-100");
          e.classList.add("opacity-0");
        });
        document.querySelectorAll(".bg-tertiary").forEach((e) => {
          e.classList.remove("bg-tertiary");
          e.classList.add("bg-none");
        });
        //document.querySelectorAll(".bg-white").forEach((item) => {
        //  item.classList.remove("bg-white");
        //  item.classList.add("bg-secondary");
        //});
        setTimeout(() => {
          sectionToToggle.classList.add("hidden");
          sectionToToggle.classList.remove("flex");
          document.getElementById("main").classList.remove("hidden");
          document.getElementById("main").classList.add("flex");
        }, 400);
      }
    } else {
      console.error(`No section found for ID: ${componentId}`);
    }
  };

  // Add event listeners to each link element
  linkElements.forEach((linkElement) => {
    linkElement.addEventListener("click", toggleComponentVisibility, {
      passive: true,
    });
    linkElement.addEventListener("touchstart", toggleComponentVisibility, {
      passive: true,
    });
  });
</script>
