---
import AnimatedBackground from "./animated-background.tsx";
import Planets from "./video.astro";
---

<div class="background" id="animated-background">
  <Planets />
  <AnimatedBackground client:visible />
</div>
