---
import Content from "./content.astro";
import Hypothesis from "../content/about/hypothesis.md";
import Aim from "../content/about/aim.md";
import Tools from "../content/about/tools.md";
import Method from "../content/about/method.md";
import Results from "../content/about/results.md";
import Notes from "../content/about/notes.md";

import AstroText from "../content/about/tools/astro.md";
import Tailwind from "../content/about/tools/tailwind.md";
import Framer from "../content/about/tools/framerMotion.md";
---

<section class="w-full h-full flex-row z-20 hidden" id="about">
  <div
    class="w-full h-[calc(100%-2rem)] my-4 ml-4 transition-all duration-100 flex flex-row-reverse overflow-y-auto z-40 bg-none"
    id="about-content"
  >
    <Content>
      <div
        class="mb-2 text-2xl font-bold tracking-tight text-primary section-content transition-all duration-50 mt-[-4]"
      >
        Abstract
      </div>
      <div
        class="mt-2 mb-8 text-md leading-8 text-white section-content transition-all duration-50"
      >
        This is a static portfolio web application built with Astro, Tailwind,
        and Framer. It attempts to create a seamless, full-screen experience for
        the user. The site is built with a mobile-first approach, and is fully
        responsive.
      </div>
      <div
        class="mb-2 text-2xl font-bold tracking-tight text-primary section-content transition-all duration-50"
      >
        Hypothesis
      </div>
      <div
        class="mt-2 mb-8 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <Hypothesis />
      </div>
      <div
        class="mb-2 text-2xl font-bold tracking-tight text-primary section-content transition-all duration-50"
      >
        Aim
      </div>
      <div
        class="mt-2 mb-8 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <Aim />
      </div>
      <div
        class="text-2xl font-bold tracking-tight text-primary section-content transition-all duration-50"
      >
        Tools
      </div>
      <div
        class="mt-2 mb-2 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <Tools />
      </div>
      <div
        class="text-xl font-bold tracking-tight text-info section-content transition-all duration-50 grid grid-cols-3 justify-items-start md:justify-items-end"
      >
        Astro
      </div>
      <div
        class="mt-2 mb-2 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <AstroText />
      </div>
      <div
        class="text-xl font-bold tracking-tight text-info section-content transition-all duration-50 grid grid-cols-3 justify-items-start md:justify-items-end"
      >
        Tailwind
      </div>
      <div
        class="mt-2 mb-2 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <Tailwind />
      </div>
      <div
        class="text-xl font-bold tracking-tight text-info section-content transition-all duration-50 grid grid-cols-3 justify-items-start md:justify-items-end"
      >
        Framer
      </div>
      <div
        class="mt-2 mb-8 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <Framer />
      </div>
      <div
        class="mb-2 text-2xl font-bold tracking-tight text-primary section-content transition-all duration-50"
      >
        Method
      </div>

      <div
        class="mt-2 mb-8 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <Method />
      </div>
      <div
        class="mb-2 text-2xl font-bold tracking-tight text-primary section-content transition-all duration-50"
      >
        Results
      </div>

      <div
        class="mt-2 mb-8 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <Results />
      </div>
      <!-- <div
        class="mb-2 text-2xl font-bold tracking-tight text-primary section-content transition-all duration-50"
      >
        Notes
      </div>

      <div
        class="mt-2 mb-8 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <Notes />
      </div> -->
    </Content>
  </div>
  <div
    class="w-full xl:max-w-full xl:w-full h-full flex flex-col p-4 pl-0 transition-all duration-500 z-50"
    id="about-label"
  >
    <div id="topRight" class="w-full h-full flex flex-row items-center">
      <a
        style="font-size: clamp(2em, 5vw, 4em);"
        class="font-smooch border border-solid
        hover:text-[#ffcd00] hover:border-[#ffcd00] transition-all duration-500
        bg-secondary-transparent text-white border-white shadow-black
        w-1/2 h-full grid content-center justify-center leading-none shadow-sm link-vertical"
        id="about-link"
      >
        A<br />b<br />o<br />u<br />t</a
      >
    </div>
    <div id="about-space" class="w-full h-full transition-all duration-500">
    </div>
  </div>
</section>
