<div class="mb-8 ml-4">
  <div class="pb-8 pt-4 sm:pb-4">
    <div class="mx-auto">
      <div class="grid grid-cols-1 items-center gap-x-8 gap-y-8">
        <div class="xl:flex xl:flex-row">
          <div
            class="mx-auto w-full xl:mx-0 transition-all section-content duration-200 opacity-0 pr-4"
          >
            <slot />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
