<section class="w-full h-full flex-row z-20 hidden" id="csharp">
  <div
    class="w-full h-full flex flex-col p-4 pr-0 transition-all duration-500 z-50"
    id="csharp-label"
  >
    <div id="csharp-space" class="w-full h-full transition-all duration-500">
    </div>
    <div
      id="bottomLeft"
      class="w-full h-full flex flex-row-reverse items-center"
    >
      <a
        style="font-size: clamp(2em, 5vw, 4em); gap: clamp(1em, 20vh,10em);"
        class="font-smooch border border-solid
        hover:bg-secondary hover:text-white active:text-secondary transition-all duration-500
        border-white w-1/2 h-full grid content-center justify-center bg-primary text-black shadow-sm shadow-black"
        id="csharp-link">C#<br /><span>2022</span></a
      >
    </div>
  </div>
  <div
    class="w-full h-full p-4 text-white transition-all duration-600 inline-block overflow-y-auto z-20"
    id="csharp-content"
  >
    <h3 class="text-2xl sm:text-4xl md:text-6xl">BeanScene</h3>
    <p class="text-lg sm:text-xl md:text-2xl">
      BeanScene is a private cafe that requires clients to reserve or otherwise
      arrange their seating prior to arrival.
    </p>
    <p class="text-lg sm:text-xl md:text-2xl">
      The website is built using ASP.NET Core MVC and Entity Framework Core.
      Foundation Sites is used as the front-end styling solution.
    </p>
    <h3 class="text-2xl sm:text-4xl md:text-6xl">Resources</h3>
    <h3 class="text-2xl sm:text-4xl md:text-6xl">Notes</h3>
  </div>

  <style>
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>

  <script>
    const csharpLink = document.getElementById("csharp-link");
    const csharpSpace = document.getElementById("csharp-space");

    // Event listener for section load
    document.addEventListener("sectionLoadEvent", function () {
      setTimeout(() => {
        csharpLink.classList.remove("w-1/2");
        csharpLink.classList.add("w-full");
        setTimeout(() => {
          csharpSpace.classList.remove("h-full");
          csharpSpace.classList.add("h-0");
        }, 150);
        document
          .getElementById("csharp-content")
          .classList.remove("text-white");
        setTimeout(() => {
          document.getElementById("csharp-label").classList.remove("w-full");
          document.getElementById("csharp-label").classList.add("w-1/2");
        }, 150);
      }, 500);
    });

    // Event listener for section unload
    document.addEventListener("sectionUnloadEvent", function () {
      setTimeout(() => {
        document.getElementById("csharp-content").classList.add("text-white");
      }, 1000);
      csharpSpace.classList.remove("h-0");
      csharpSpace.classList.add("h-full");
      csharpLink.classList.remove("w-full");
      csharpLink.classList.add("w-1/2");
      document.getElementById("csharp-label").classList.add("w-full");
      document.getElementById("csharp-label").classList.remove("w-1/2");
    });
  </script>
</section>
