---
import MainText from "../content/csharp/main-text.md";
import MainTitle from "../content/csharp/main-title.md";
import Content from "./content.astro";

import Hypothesis from "../content/csharp/hypothesis.md";
import Aim from "../content/csharp/aim.md";
import Tools from "../content/csharp/tools.md";
import Method from "../content/csharp/method.md";
import Results from "../content/csharp/results.md";
import Notes from "../content/csharp/notes.md";

import Bootstrap from "../content/csharp/tools/bootstrap.md";
import EntityFramework from "../content/csharp/tools/entityframework.md";
import GraphQL from "../content/csharp/tools/graphql.md";
---

<section class="w-full h-full flex-row z-20 hidden" id="csharp">
  <div
    class="w-full xl:max-w-full xl:w-full h-full flex flex-col p-4 pr-0 transition-all duration-500 z-50"
    id="csharp-label"
  >
    <div id="csharp-space" class="w-full h-full transition-all duration-500">
    </div>
    <div
      id="bottomLeft"
      class="w-full h-full flex flex-row-reverse items-center"
    >
      <a
        style="font-size: clamp(2em, 5vw, 4em); gap: clamp(1em, 20vh,10em);"
        class="font-smooch border border-solid
        hover:border-[#ffcd00] hover:text-[#ffcd00] transition-all duration-500
        border-white w-1/2 h-full grid content-center justify-center bg-secondary-transparent text-white shadow-sm shadow-black link-vertical"
        id="csharp-link">C#<br /><span>2022</span></a
      >
    </div>
  </div>
  <div
    class="w-full h-[calc(100%-2rem)] my-4 mr-4 text-white transition-all duration-100 inline-block overflow-y-auto z-40 bg-none"
    id="csharp-content"
  >
    <Content>
      <div
        class="mb-2 text-2xl font-bold tracking-tight text-primary section-content transition-all duration-50"
      >
        Abstract
      </div>
      <div
        class="mt-2 mb-8 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <MainText />
      </div>
      <div
        class="mb-2 text-2xl font-bold tracking-tight text-primary section-content transition-all duration-50"
      >
        Hypothesis
      </div>
      <div
        class="mt-2 mb-8 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <Hypothesis />
      </div>
      <div
        class="mb-2 text-2xl font-bold tracking-tight text-primary section-content transition-all duration-50"
      >
        Aim
      </div>
      <div
        class="mt-2 mb-8 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <Aim />
      </div>
      <div
        class="text-2xl font-bold tracking-tight text-primary section-content transition-all duration-50"
      >
        Tools
      </div>
      <div
        class="mt-2 mb-0 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <Tools />
      </div>
      <div
        class="text-xl font-bold tracking-tight text-info section-content transition-all duration-50 grid grid-cols-3 justify-items-start md:justify-items-end"
      >
        Bootstrap
      </div>
      <div
        class="mt-0 mb-2 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <Bootstrap />
      </div>
      <div
        class="text-xl font-bold tracking-tight text-info section-content transition-all duration-50 grid grid-cols-3 justify-items-start md:justify-items-end"
      >
        Entity&nbsp;Framework
      </div>
      <div
        class="mt-2 mb-2 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <EntityFramework />
      </div>
      <div
        class="text-xl font-bold tracking-tight text-info section-content transition-all duration-50 grid grid-cols-3 justify-items-start md:justify-items-end"
      >
        GraphQL
      </div>
      <div
        class="mt-2 mb-8 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <GraphQL />
      </div>
      <!-- <div
        class="mb-2 text-2xl font-bold tracking-tight text-primary section-content transition-all duration-50"
      >
        Method
      </div>

      <div
        class="mt-2 mb-8 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <Method />
      </div> -->
      <div
        class="mb-2 text-2xl font-bold tracking-tight text-primary section-content transition-all duration-50"
      >
        Results
      </div>

      <div
        class="mt-2 mb-8 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <Results />
      </div>
      <!-- <div
        class="mb-2 text-2xl font-bold tracking-tight text-primary section-content transition-all duration-50"
      >
        Notes
      </div>

      <div
        class="mt-2 mb-8 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <Notes />
      </div> -->
      <br />
    </Content>
  </div>
</section>
