---
import Content from "./content.astro";

import Oaklee from "../content/education/oaklee/overview.md";
import Digital from "../content/education/oaklee/major/digital.md";
import Songwriting from "../content/education/oaklee/major/songwriting.md";
import World from "../content/education/oaklee/major/world.md";
import WIT from "../content/education/wit/overview.md";
import Code from "../content/education/wit/major/code.md";
import Data from "../content/education/wit/major/data.md";
import Web from "../content/education/wit/major/web.md";
---

<section class="w-full h-full flex-row z-20 hidden" id="education">
  <div
    class="w-full h-[calc(100%-2rem)] my-4 ml-4 text-white transition-all duration-100 flex flex-row-reverse overflow-y-auto z-40 bg-none"
    id="education-content"
  >
    <Content>
      <div
        class="mb-2 text-2xl font-bold tracking-tight text-primary section-content transition-all duration-50"
      >
        Bachelor of Music at Oaklee
      </div>
      <div
        class="mt-2 mb-2 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <Oaklee />
      </div>
      <div
        style="margin-left: clamp(0.5rem, 5vw, 4rem);"
        class="text-xl font-bold tracking-tight text-info section-content transition-all duration-50"
      >
        Digital music production techniques
      </div>
      <div
        class="mt-2 mb-2 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <Digital />
      </div>
      <div
        style="margin-left: clamp(0.5rem, 5vw, 4rem);"
        class="text-xl font-bold tracking-tight text-info section-content transition-all duration-50"
      >
        Modern writing and poetry
      </div>
      <div
        class="mt-2 mb-2 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <Songwriting />
      </div>
      <div
        style="margin-left: clamp(0.5rem, 5vw, 4rem);"
        class="text-xl font-bold tracking-tight text-info section-content transition-all duration-50"
      >
        Music around the world
      </div>
      <div
        class="mt-2 mb-8 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <World />
      </div>
      <div
        class="mb-2 text-2xl font-bold tracking-tight text-primary section-content transition-all duration-50"
      >
        Bachelor of IT at WIT
      </div>
      <div
        class="mt-2 mb-2 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <WIT />
      </div>
      <div
        style="margin-left: clamp(0.5rem, 5vw, 4rem);"
        class="text-xl font-bold tracking-tight text-info section-content transition-all duration-50"
      >
        Advanced programming
      </div>
      <div
        class="mt-2 mb-2 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <Code />
      </div>
      <div
        style="margin-left: clamp(0.5rem, 5vw, 4rem);"
        class="text-xl font-bold tracking-tight text-info section-content transition-all duration-50"
      >
        Data Analysis
      </div>
      <div
        class="mt-2 mb-2 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <Data />
      </div>
      <div
        style="margin-left: clamp(0.5rem, 5vw, 4rem);"
        class="text-xl font-bold tracking-tight text-info section-content transition-all duration-50"
      >
        Software Engineering
      </div>
      <div
        class="mt-2 mb-8 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <Web />
      </div>
    </Content>
  </div>
  <div
    class="w-full xl:max-w-full xl:w-full h-full flex flex-col p-4 pl-0 transition-all z-50 duration-500"
    id="education-label"
  >
    <div id="education-space" class="w-full h-full transition-all duration-500">
    </div>
    <div id="bottomRight" class="w-full h-full flex flex-col items-center">
      <a
        style="font-size: clamp(2em, 5vw, 4em); padding-left: clamp(0.5em,10vw,60em); padding-right: clamp(0.5em,10vw,60em);"
        class="font-smooch border border-solid z-50
        hover:border-[#ffcd00] hover:text-[#ffcd00] transition-all duration-200
        border-white bg-secondary-transparent text-white shadow-sm shadow-black
        w-full h-1/2 grid content-center link-horizontal"
        id="education-link">Study</a
      >
    </div>
  </div>
</section>
