---
import MainText from "../content/php/main-text.md";
import MainTitle from "../content/php/main-title.md";
import Content from "./content.astro";

import Hypothesis from "../content/php/hypothesis.md";
import Aim from "../content/php/aim.md";
import Tools from "../content/php/tools.md";
import Method from "../content/php/method.md";
import Results from "../content/php/results.md";
import Notes from "../content/php/notes.md";

import SASS from "../content/php/tools/sass.md";
import Laravel from "../content/php/tools/laravel.md";
import LAMP from "../content/php/tools/lamp.md";
---

<section class="w-full h-full flex-row z-20 hidden" id="php">
  <div
    class="w-full xl:max-w-full xl:w-full h-full flex flex-col p-4 pr-0 transition-all duration-500 z-50"
    id="php-label"
  >
    <div id="php-space" class="w-full h-full transition-all duration-500"></div>
    <div id="bottomLeft" class="w-full h-full flex flex-row items-center">
      <a
        style="font-size: clamp(2em, 5vw, 4em); gap: clamp(1em, 20vh,10em);"
        class="font-smooch border border-solid
        hover:border-[#ffcd00] hover:text-[#ffcd00] transition-all duration-500
        border-white w-1/2 h-full grid content-center justify-center bg-secondary-transparent text-white shadow-sm shadow-black link-vertical"
        id="php-link">PHP<br /><span>2023</span></a
      >
    </div>
  </div>
  <div
    class="w-full h-[calc(100%-2rem)] my-4 mr-4 text-white transition-all duration-100 flex flex-row overflow-y-auto z-40 bg-none"
    id="php-content"
  >
    <Content>
      <div
        class="mb-2 text-2xl font-bold tracking-tight text-primary section-content transition-all duration-50"
      >
        Abstract
      </div>
      <div
        class="mt-2 mb-8 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <MainText />
      </div>
      <div
        class="mb-2 text-2xl font-bold tracking-tight text-primary section-content transition-all duration-50"
      >
        Hypothesis
      </div>
      <div
        class="mt-2 mb-8 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <Hypothesis />
      </div>
      <div
        class="mb-2 text-2xl font-bold tracking-tight text-primary section-content transition-all duration-50"
      >
        Aim
      </div>
      <div
        class="mt-2 mb-8 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <Aim />
      </div>
      <div
        class="text-2xl font-bold tracking-tight text-primary section-content transition-all duration-50"
      >
        Tools
      </div>
      <div
        class="mt-2 mb-0 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <Tools />
      </div>
      <div
        class="text-xl font-bold tracking-tight text-info section-content transition-all duration-50 grid grid-cols-3 justify-items-start md:justify-items-end"
      >
        SASS
      </div>
      <div
        class="mt-0 mb-2 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <SASS />
      </div>
      <div
        class="text-xl font-bold tracking-tight text-info section-content transition-all duration-50 grid grid-cols-3 justify-items-start md:justify-items-end"
      >
        Laravel
      </div>
      <div
        class="mt-2 mb-2 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <Laravel />
      </div>
      <div
        class="text-xl font-bold tracking-tight text-info section-content transition-all duration-50 grid grid-cols-3 justify-items-start md:justify-items-end"
      >
        LAMP
      </div>
      <div
        class="mt-2 mb-8 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <LAMP />
      </div>
      <!-- <div
        class="mb-2 text-2xl font-bold tracking-tight text-primary section-content transition-all duration-50"
      >
        Method
      </div>

      <div
        class="mt-2 mb-8 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <Method />
      </div> -->
      <div
        class="mb-2 text-2xl font-bold tracking-tight text-primary section-content transition-all duration-50"
      >
        Results
      </div>

      <div
        class="mt-2 mb-8 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <Results />
      </div>
      <!-- <div
        class="mb-2 text-2xl font-bold tracking-tight text-primary section-content transition-all duration-50"
      >
        Notes
      </div>

      <div
        class="mt-2 mb-8 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <Notes />
      </div> -->
      <br />
    </Content>
  </div>
</section>
