<div class="popup z-50 absolute w-full h-full text-white bg-black" id="popup">
  This website has animations and visual effects that may cause disorientation.<br
  />Please check the Low Fidelity box below to disable the features.
  <checkbox id="popup-checkbox">Low Fidelity</checkbox>
  <button id="popup-close">Close</button>
</div>
