<div class="my-6 leading-8 bg-white rounded-lg p-4">
  <div class="grid grid-cols-5 my-8">
    <img
      class="h-8 w-auto m-auto"
      src="./portfolio/assets/tools/Git.svg"
      alt="Git"
    />
    <img
      class="h-8 w-auto m-auto"
      src="./portfolio/assets/tools/Cs.svg"
      alt="C#"
    />
    <img
      class="h-8 w-auto m-auto"
      src="./portfolio/assets/tools/PHP.svg"
      alt="PHP"
    />
    <img
      class="h-8 w-auto m-auto"
      src="./portfolio/assets/tools/Python.svg"
      alt="Python"
    />
    <img
      class="h-8 w-auto m-auto"
      src="./portfolio/assets/tools/Laravel.svg"
      alt="Laravel"
    />
  </div>
  <div class="grid grid-cols-5 mb-8">
    <img
      class="h-10 w-auto m-auto pt-2 rounded"
      src="./portfolio/assets/tools/.NET.svg"
      alt="DotNET"
    />
    <img
      class="h-10 w-auto m-auto pt-2"
      src="./portfolio/assets/tools/Node.JS.svg"
      alt="Node.JS"
    />
    <img
      class="h-12 w-auto m-auto py-2"
      src="./portfolio/assets/tools/Nuget.svg"
      alt="Nuget"
    />
    <div class="flex flex-row self-start pt-2">
      <img
        class="h-6 w-auto m-auto pt-2"
        src="./portfolio/assets/tools/NPM.svg"
        alt="NPM"
      />
    </div>
    <img
      class="h-11 w-auto m-auto"
      src="./portfolio/assets/tools/Composer.svg"
      alt="Composer"
    />
  </div>
  <div class="grid grid-cols-5 mb-8">
    <img
      class="h-8 w-auto m-auto"
      src="./portfolio/assets/tools/MariaDB.svg"
      alt="MariaDB"
    />
    <img
      class="h-8 w-auto m-auto"
      src="./portfolio/assets/tools/MongoDB.svg"
      alt="MongoDB"
    />
    <img
      class="h-8 w-auto m-auto"
      src="./portfolio/assets/tools/CosmosDB.png"
      alt="CosmosDB"
    />
    <img
      class="h-8 w-auto m-auto"
      src="./portfolio/assets/tools/Redis.svg"
      alt="Redis"
    />
    <img
      class="h-8 w-auto m-auto bg-[#fe356f] rounded"
      src="./portfolio/assets/tools/Mermaid.JS.svg"
      alt="Mermaid.JS"
    />
  </div>
  <div class="grid grid-cols-5 mb-8">
    <img
      class="h-10 w-auto m-auto"
      src="./portfolio/assets/tools/Astro.svg"
      alt="Astro"
    />
    <img
      class="h-8 w-auto m-auto"
      src="./portfolio/assets/tools/NextJS.svg"
      alt="Next.JS"
    />
    <img
      class="h-8 w-auto m-auto"
      src="./portfolio/assets/tools/Vite.svg"
      alt="Vite"
    />
    <img
      class="h-8 w-auto m-auto py-1"
      src="./portfolio/assets/tools/Tailwind.svg"
      alt="Tailwind"
    />
    <img
      class="h-8 w-auto m-auto my-1"
      src="./portfolio/assets/tools/Bootstrap.svg"
      alt="Bootstrap"
    />
  </div>
  <div class="grid grid-cols-5 mb-4">
    <img
      class="h-9 w-auto m-auto"
      src="./portfolio/assets/tools/React.svg"
      alt="React"
    />
    <img
      class="h-9 w-auto m-auto"
      src="./portfolio/assets/tools/GraphQL.svg"
      alt="GraphQL"
    />
    <img
      class="h-10 w-auto m-auto rounded"
      src="./portfolio/assets/tools/Foundation.jpg"
      alt="Foundation"
    />
    <img
      class="h-8 w-auto m-auto"
      src="./portfolio/assets/tools/Docker.svg"
      alt="Docker"
    />
    <img
      class="h-10 w-auto m-auto"
      src="./portfolio/assets/tools/Debian.svg"
      alt="Debian"
    />
  </div>
</div>
