<section class="w-full h-full flex-col z-20 hidden" id="portfolio">
  <div
    class="w-full h-[36vh] flex flex-row p-4 pb-0 transition-all duration-500 z-50"
    id="portfolio-label"
  >
    <div id="topLeft" class="w-full h-full flex flex-row items-center">
      <a
        style="font-size: clamp(2em, 5vw, 4em); padding-left: clamp(0.5em,10vw,60em);"
        class="font-smooch border border-solid shadow-sm hover:w-full
          hover:bg-secondary hover:text-white active:text-secondary transition-all duration-200
          bg-primary text-black border-white shadow-black
          w-1/2 h-full content-center
          grid"
        id="portfolio-link">Portfolio</a
      >
      <div class="h-full"></div>
    </div>
  </div>
  <div
    style="padding-left: clamp(0.5em,10vw,60em); padding-right: clamp(0.5em,10vw,60em);"
    class="w-full h-full text-white transition-all duration-600 inline-block overflow-y-auto p-4"
    id="portfolio-content"
  >
    <div class="mb-8 ml-4">
      <div class="mb-8">
        <div class="bg-white pb-8 pt-4 sm:pb-4">
          <div class="mx-auto max-w-7xl lg:px-8">
            <div
              class="grid grid-cols-1 items-center gap-x-8 gap-y-8 lg:grid-cols-2"
            >
              <div class="mx-auto w-full max-w-xl lg:mx-0">
                <h2 class="text-3xl font-bold tracking-tight text-gray-900">
                  Welcome to my portfolio!
                </h2>
                <p class="mt-6 text-lg leading-8 text-gray-600">
                  I am a passionate developer with a diverse background across
                  Front-End, Back-End, and API/Database Development. <br
                    class="mb-6"
                  />My journey in technology, influenced by a family business
                  ethos, has shaped a strong work ethic and a drive for
                  continuous learning.
                </p>
              </div>
              <div class="mx-auto w-full max-w-xl lg:mx-0">
                <h2 class="text-3xl font-bold tracking-tight text-gray-900">
                  Technologies
                </h2>
                <p class="my-6 text-lg leading-8 text-gray-600">
                  <!-- Languages: HTML, CSS, SASS-SCSS, JavaScript, TypeScript, PHP,
                  C#, Python, JSON, XML <br /> -->
                  <div class="grid grid-cols-5 mb-8">
                    <img
                      class="h-8 w-auto m-auto"
                      src="./HTML.svg"
                      alt="HTML"
                    />
                    <img class="h-8 w-auto m-auto" src="./CSS.svg" alt="CSS" />
                    <img
                      class="h-8 w-auto m-auto"
                      src="./SASS-SCSS.svg"
                      alt="SASS-SCSS"
                    />
                    <img
                      class="h-8 w-auto m-auto border border-none rounded"
                      src="./JavaScript.png"
                      alt="JavaScript"
                    />
                    <img
                      class="h-8 w-auto m-auto"
                      src="./TypeScript.svg"
                      alt="TypeScript"
                    />
                  </div>
                  <!-- Databases: SQL, MongoDB, CosmosDB, EntityFramework, Redis<br
                  /> -->
                  <div class="grid grid-cols-5 mb-8">
                    <img
                      class="h-8 w-auto m-auto"
                      src="./MariaDB.svg"
                      alt="MariaDB"
                    />
                    <img
                      class="h-8 w-auto m-auto"
                      src="./MongoDB.svg"
                      alt="MongoDB"
                    />
                    <img
                      class="h-8 w-auto m-auto"
                      src="./CosmosDB.png"
                      alt="CosmosDB"
                    />
                    <img
                      class="h-8 w-auto m-auto"
                      src="./Redis.svg"
                      alt="Redis"
                    />
                    <img
                      class="h-8 w-auto m-auto"
                      src="./GraphQL.svg"
                      alt="GraphQL"
                    />
                  </div>
                  <!-- Frameworks & Libraries: jQuery, .NET, Node.JS, NPM, Astro,
                  NextJS, React, Bootstrap, Tailwind<br /> -->
                  <div class="grid grid-cols-5 mb-8">
                    <img
                      class="h-10 w-auto m-auto pt-2 rounded"
                      src="./.NET.svg"
                      alt="DotNET"
                    />
                    <img
                      class="h-10 w-auto m-auto pt-2"
                      src="./Node.JS.svg"
                      alt="Node.JS"
                    />
                    <img
                      class="h-12 w-auto m-auto py-2"
                      src="./Nuget.svg"
                      alt="Nuget"
                    />
                    <div class="flex flex-row self-start pt-2">
                      <img
                        class="h-6 w-auto m-auto pt-2"
                        src="./NPM.svg"
                        alt="NPM"
                      />
                    </div>
                    <img
                      class="h-11 w-auto m-auto"
                      src="./Composer.svg"
                      alt="Composer"
                    />
                  </div>
                  <div class="grid grid-cols-4 mb-8">
                    <img
                      class="h-8 w-auto m-auto"
                      src="./Laravel.svg"
                      alt="Laravel"
                    />
                    <img
                      class="h-10 w-auto m-auto"
                      src="./Astro.svg"
                      alt="Astro"
                    />
                    <img
                      class="h-8 w-auto m-auto"
                      src="./NextJS.svg"
                      alt="Next.JS"
                    />
                    <img
                      class="h-8 w-auto m-auto"
                      src="./Vite.svg"
                      alt="Vite"
                    />
                  </div>
                  <div class="grid grid-cols-4 mb-8">
                    <img
                      class="h-8 w-auto m-auto my-1"
                      src="./Bootstrap.svg"
                      alt="Bootstrap"
                    />
                    <img
                      class="h-10 w-auto m-auto"
                      src="./React.svg"
                      alt="React"
                    />
                    <img
                      class="h-8 w-auto m-auto py-1"
                      src="./Tailwind.svg"
                      alt="Tailwind"
                    />
                    <img
                      class="h-10 w-auto m-auto rounded"
                      src="./Foundation.jpg"
                      alt="Foundation"
                    />
                  </div>
                  <div class="grid grid-cols-3 mb-8">
                    <img
                      class="h-8 w-auto m-auto"
                      src="./Python.svg"
                      alt="Python"
                    />
                    <img class="h-8 w-auto m-auto" src="./PHP.svg" alt="PHP" />
                    <img class="h-8 w-auto m-auto" src="./Cs.svg" alt="C#" />
                  </div>
                  <div class="grid grid-cols-2 mb-8">
                    <img class="h-8 w-auto m-auto" src="./Git.svg" alt="Git" />
                    <img
                      class="h-8 w-auto m-auto"
                      src="./Docker.svg"
                      alt="Docker"
                    />
                  </div>
                  <div class="grid grid-cols-1 mb-8">
                    <img
                      class="h-8 w-auto m-auto bg-[#fe356f] rounded"
                      src="./Mermaid.JS.svg"
                      alt="Mermaid.JS"
                    />
                  </div>
                  <!-- Web Technologies: REST, GraphQL, AJAX<br />
                   Version Control & DevOps: Git, GitHub, Azure DevOps, Docker<br
                  />
                   Cloud Platforms: Azure, AWS, Google Cloud, Heroku, Firebase<br
                  />
                   Creative Tools: Adobe Creative Cloud, iZotope, Image-Line,
                  Avid, ..Audacity, ..DaVinci, ..OBS Studio, ..Inkscape<br />
                   Advertising Platforms: Google Ads, Facebook Ads<br /><br
                  /><br /> -->
                </p>
              </div>
              <!-- <div class="mx-auto w-full max-w-xl lg:mx-0">
                <h4 class="text-3xl font-bold tracking-tight text-gray-900">
                  Diversity in Knowledge
                </h4>
                <p class="mt-6 text-lg leading-8 text-gray-600">
                  My expertise extends beyond programming to include
                  administrative skills, multimedia production, and research &
                  development.<br />This breadth of knowledge allows me to
                  approach IT projects with a unique and comprehensive
                  perspective.
                </p>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
  <script>
    const portfolioLink = document.getElementById("portfolio-link");
    const portfolioLabel = document.getElementById("portfolio-label");

    document.addEventListener("sectionLoadEvent", function () {
      setTimeout(() => {
        portfolioLink.classList.remove("w-1/2");
        portfolioLabel.classList.remove("h-[36vh]");
        portfolioLabel.classList.add("h-1/6");
        portfolioLink.classList.remove("hover:w-full");
        portfolioLink.classList.add("w-full");
        setTimeout(() => {
          document
            .getElementById("portfolio-content")
            .classList.remove("text-white");
        }, 150);
      }, 500);
    });

    document.addEventListener("sectionUnloadEvent", function () {
      setTimeout(() => {
        portfolioLabel.classList.remove("h-1/6");
        portfolioLabel.classList.add("h-[36vh]");
        document
          .getElementById("portfolio-content")
          .classList.add("text-white");
        portfolioLink.classList.remove("w-full");
        portfolioLink.classList.add("w-1/2");
        document.getElementById("portfolio-label").classList.add("w-full");
        document.getElementById("portfolio-label").classList.remove("w-1/2");
        setTimeout(() => {
          portfolioLink.classList.add("hover:w-full");
        }, 1500);
      }, 50);
    });
  </script>
</section>
