---
import PortfolioCard from "./portfolio-card.astro";
---

<section class="w-full h-full flex-col hidden z-20" id="portfolio">
  <div
    class="w-full h-[36vh] flex flex-row p-4 pb-0 transition-all duration-500 z-50"
    id="portfolio-label"
  >
    <div
      id="topLeft"
      class="w-full h-full flex flex-row items-center bg-[#22222288] transition-all duration-200"
    >
      <a
        style="font-size: clamp(2em, 5vw, 4em); padding-left: clamp(0.5em,10vw,60em);"
        class="font-smooch border border-solid shadow-sm hover:w-full
          hover:text-[#ffcd00] hover:border-[#ffcd00] active:text-secondary transition-all duration-200
          bg-secondary text-white border-white shadow-black
          w-1/2 h-full content-center
          grid"
        id="portfolio-link">Portfolio</a
      >
      <div class="h-full bg-[#22222288] transition-all duration-200"></div>
    </div>
  </div>
  <div
    style="padding-left: clamp(0.5em,10vw,60em); padding-right: clamp(0.5em,10vw,60em);"
    class="w-full h-full text-white bg-[#22222288] transition-all duration-600 inline-block overflow-y-auto p-4 z-20"
    id="portfolio-content"
  >
    <div class="mb-8 ml-4">
      <div class="pb-8 pt-4 sm:pb-4">
        <div class="mx-auto">
          <div class="grid grid-cols-1 items-center gap-x-8 gap-y-8">
            <div class="xl:flex xl:flex-row">
              <div class="mx-auto w-full xl:mx-0">
                <h2 class="text-3xl font-bold tracking-tight text-white">
                  Welcome to my portfolio!
                </h2>
                <p class="mt-6 mb-16 text-lg leading-8 text-white">
                  I am a passionate developer with a diverse background across
                  Front-End, Back-End, and API/Database Development.
                </p>
              </div>

              <div class="mx-auto w-full xl:mx-0">
                <h2 class="text-3xl font-bold tracking-tight text-white mb-8">
                  Technologies
                </h2>
                <PortfolioCard client:load />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>
<script>
  const portfolioLink = document.getElementById("portfolio-link");
  const portfolioLabel = document.getElementById("portfolio-label");

  document.addEventListener("sectionLoadEvent", function () {
    setTimeout(() => {
      // Animate dimensions using tailwind
      portfolioLink.classList.remove("w-1/2");
      portfolioLabel.classList.remove("h-[36vh]");
      portfolioLabel.classList.add("h-1/6");
      portfolioLink.classList.remove("hover:w-full"); // necessary for expand behaviour
      portfolioLink.classList.add("w-full");
    }, 500);
  });

  document.addEventListener("sectionUnloadEvent", function () {
    setTimeout(() => {
      portfolioLabel.classList.remove("h-1/6");
      portfolioLabel.classList.add("h-[36vh]");
      portfolioLink.classList.remove("w-full");
      portfolioLink.classList.add("w-1/2");
      document.getElementById("portfolio-label").classList.add("w-full");
      document.getElementById("portfolio-label").classList.remove("w-1/2");
      setTimeout(() => {
        portfolioLink.classList.add("hover:w-full"); // necessary for expand behaviour
      }, 1500);
    }, 50);
  });
</script>
