<section class="w-full h-full flex-col z-20 hidden" id="portfolio">
  <div
    class="w-full h-[36vh] flex flex-row p-4 pb-0 transition-all duration-500"
    id="portfolio-label"
  >
    <div id="topLeft" class="w-full h-full flex flex-row items-center">
      <a
        style="font-size: clamp(2em, 5vw, 4em); padding-left: clamp(0.5em,10vw,60em);"
        class="font-smooch border border-solid shadow-sm hover:w-full
          hover:bg-secondary hover:text-white active:text-secondary transition-all duration-200
          bg-primary text-black border-white shadow-black
          w-1/2 h-full content-center
          grid"
        id="portfolio-link">Portfolio</a
      >
      <div class="h-full"></div>
    </div>
  </div>
  <div
    class="w-full h-full p-4 text-white transition-all duration-600 inline-block overflow-y-auto"
    id="portfolio-content"
  >
    <p class="mb-6 text-lg sm:text-xl md:text-2xl">
      Welcome! I am a passionate developer with a diverse background in
      programming, machine learning, and multimedia. My journey in technology,
      influenced by a family business ethos, has shaped a strong work ethic and
      a drive for continuous learning.
    </p>

    <div class="mb-8">
      <h4 class="text-xl sm:text-2xl font-bold mb-4">Skill Highlights</h4>
      <p class="text-lg sm:text-xl md:text-2xl">
        Expertise in HTML, CSS, JavaScript, C#, PHP, and SQL. Proficient in
        NodeJS, npm, and Astro for creating dynamic websites. Additionally, I
        utilize Python to develop and run machine learning models on local
        environments.
      </p>
    </div>

    <div class="mb-8">
      <h4 class="text-xl sm:text-2xl font-bold mb-4">Project Showcase</h4>
      <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
        <div class="text-white bg-[#012169dd] p-4 rounded">
          <h5 class="font-semibold">SQL: Data Management</h5>
          <p class="text-lg sm:text-xl md:text-2xl">
            Anthony's Fast Food is a restaurant looking to expand online.
          </p>
          <p class="text-lg sm:text-xl md:text-2xl">
            The business requirements have been gathered and the database has
            been designed.
          </p>
        </div>

        <div class="text-white bg-[#012169dd] p-4 rounded">
          <h5 class="font-semibold">SportsWarehouse</h5>
          <p class="text-lg sm:text-xl md:text-2xl">
            SportsWarehouse is a sports equipment wholesaler looking to expand
            online.
          </p><br />
          <p class="text-lg sm:text-xl md:text-2xl">
            The website was built from scratch using HTML, CSS, JS, PHP8.2 and
            nginx.
          </p>
        </div>

        <div class="text-white bg-[#012169dd] p-4 rounded">
          <h5 class="font-semibold">BeanScene</h5>
          <p class="text-lg sm:text-xl md:text-2xl">
            BeanScene is a private cafe that requires clients to reserve or
            otherwise arrange their seating prior to arrival.
          </p>
          <p class="text-lg sm:text-xl md:text-2xl">
            The website is built using ASP.NET Core MVC, EF, and Foundation
            Sites.
          </p>
        </div>
      </div>
    </div>

    <div class="mb-8">
      <h4 class="text-xl sm:text-2xl font-bold mb-4">Diversity in Knowledge</h4>
      <p class="text-lg sm:text-xl md:text-2xl">
        My expertise extends beyond programming to include administrative
        skills, multimedia production, and research & development. This breadth
        of knowledge allows me to approach IT projects with a unique and
        comprehensive perspective.
      </p>
    </div>
  </div>
</section>

<style>
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>
<script>
  const portfolioLink = document.getElementById("portfolio-link");
  const portfolioLabel = document.getElementById("portfolio-label");

  document.addEventListener("sectionLoadEvent", function () {
    setTimeout(() => {
      portfolioLink.classList.remove("w-1/2");
      portfolioLabel.classList.remove("h-[36vh]");
      portfolioLabel.classList.add("h-1/6");
      portfolioLink.classList.remove("hover:w-full");
      portfolioLink.classList.add("w-full");
      setTimeout(() => {
        document
          .getElementById("portfolio-content")
          .classList.remove("text-white");
      }, 150);
    }, 500);
  });

  document.addEventListener("sectionUnloadEvent", function () {
    setTimeout(() => {
      portfolioLabel.classList.remove("h-1/6");
      portfolioLabel.classList.add("h-[36vh]");
      document.getElementById("portfolio-content").classList.add("text-white");
      portfolioLink.classList.remove("w-full");
      portfolioLink.classList.add("w-1/2");
      document.getElementById("portfolio-label").classList.add("w-full");
      document.getElementById("portfolio-label").classList.remove("w-1/2");
      setTimeout(() => {
        portfolioLink.classList.add("hover:w-full");
      }, 1500);
    }, 50);
  });
</script>
