---
import PortfolioCard from "./portfoliocard.astro";
import MainText from "../content/portfolio/main-text.md";
import MainTitle from "../content/portfolio/main-title.md";
import Content from "./content.astro";
---

<section
  class="w-full h-full flex-row z-20 hidden transition-all duration-1000"
  id="portfolio"
>
  <div
    class="w-full xl:max-w-full xl:w-full h-full flex flex-col p-4 pr-0 transition-all duration-500 z-50"
    id="portfolio-label"
  >
    <div id="topLeft" class="w-full h-full flex flex-col items-center">
      <a
        style="font-size: clamp(2em, 5vw, 4em); padding-left: clamp(0.5em,10vw,60em); padding-right: clamp(0.5em,10vw,60em);"
        class="font-smooch border border-solid
        hover:border-[#ffcd00] hover:text-[#ffcd00] transition-all duration-500
        border-white bg-secondary-transparent text-white shadow-sm shadow-black
        w-full h-1/2 grid content-center"
        id="portfolio-link">Portfolio</a
      >
    </div>
    <div id="portfolio-space" class="w-full h-full transition-all duration-500">
    </div>
  </div>
  <div
    class="w-full max-w-5xl h-[calc(100vh-2rem)] my-4 mr-4 text-white transition-all duration-100 flex flex-row overflow-y-auto z-40 bg-none"
    id="portfolio-content"
  >
    <Content>
      <div
        class="text-3xl font-bold tracking-tight text-primary section-content transition-all duration-50"
      >
        <MainTitle />
      </div>
      <div
        class="mt-6 mb-16 text-lg leading-8 text-white section-content transition-all duration-50"
      >
        <MainText />
      </div>
      <div class="mx-auto w-full xl:mx-0">
        <h2 class="text-3xl font-bold tracking-tight text-primary mb-8">
          Technologies
        </h2>
        <PortfolioCard />
      </div>
    </Content>
  </div>
</section>

<style>
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>
<script>
  const portfolioLink = document.getElementById("portfolio-link");
  const portfolioSpace = document.getElementById("portfolio-space");

  // Event listener for section load
  document.addEventListener("sectionLoadEvent", function () {
    setTimeout(() => {
      portfolioLink!.classList.remove("h-1/2");
      portfolioLink!.classList.add("h-full");
      portfolioSpace!.classList.remove("h-full");
      portfolioSpace!.classList.add("h-0");
      setTimeout(() => {
        document.getElementById("portfolio-label")!.classList.remove("w-full");
        document.getElementById("portfolio-label")!.classList.add("w-1/2");
      }, 150);
    }, 500);
  });

  // Event listener for section unload
  document.addEventListener("sectionUnloadEvent", function () {
    setTimeout(() => {
      portfolioSpace!.classList.remove("h-0");
      portfolioSpace!.classList.add("h-full");
    }, 150);
    portfolioLink!.classList.remove("h-full");
    portfolioLink!.classList.add("h-1/2");
    document.getElementById("portfolio-label")!.classList.add("w-full");
    document.getElementById("portfolio-label")!.classList.remove("w-1/2");
  });
</script>
