---
import MainText from "../content/sql/main-text.md";
import MainTitle from "../content/sql/main-title.md";
---

<section class="w-full h-full flex-row z-20 hidden" id="sql">
  <div
    class="w-full h-[calc(100vh-2rem)] my-4 ml-4 text-white transition-all duration-100 inline-block overflow-y-auto z-20 bg-none"
    id="sql-content"
  >
    <div class="mb-8 ml-4">
      <div class="pb-8 pt-4 sm:pb-4">
        <div class="mx-auto">
          <div class="grid grid-cols-1 items-center gap-x-8 gap-y-8">
            <div class="xl:flex xl:flex-row">
              <div
                class="mx-auto w-full xl:mx-0 transition-all section-content duration-200 opacity-0"
              >
                <div class="text-3xl font-bold tracking-tight text-white">
                  <MainTitle />
                </div>
                <div class="mt-6 mb-16 text-lg leading-8 text-white">
                  <MainText />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="w-full h-full flex flex-col p-4 pl-0 transition-all duration-500 z-50"
    id="sql-label"
  >
    <div id="topRight" class="w-full h-full flex flex-row-reverse items-center">
      <a
        style="font-size: clamp(2em, 5vw, 4em); gap: clamp(1em, 20vh,10em);"
        class="font-smooch border border-solid
        hover:border-[#ffcd00] hover:text-[#ffcd00] transition-all duration-500
        border-white w-1/2 h-full grid content-center justify-center bg-secondary text-white shadow-sm shadow-black"
        id="sql-link">SQL<br /><span>2023</span></a
      >
    </div>
    <div id="sql-space" class="w-full h-full transition-all duration-500"></div>
  </div>
</section>
<style>
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>

<script>
  const sqlLink = document.getElementById("sql-link");
  const sqlSpace = document.getElementById("sql-space");

  // Event listener for section load
  document.addEventListener("sectionLoadEvent", function () {
    setTimeout(() => {
      sqlLink.classList.remove("w-1/2");
      sqlLink.classList.add("w-full");
      setTimeout(() => {
        document.getElementById("sql-label").classList.remove("w-full");
        document.getElementById("sql-label").classList.add("w-1/2");
      }, 150);
      setTimeout(() => {
        sqlSpace.classList.remove("h-full");
        sqlSpace.classList.add("h-0");
      }, 150);
    }, 500);
  });

  // Event listener for section unload
  document.addEventListener("sectionUnloadEvent", function () {
    sqlSpace.classList.remove("h-0");
    sqlSpace.classList.add("h-full");
    sqlLink.classList.remove("w-full");
    sqlLink.classList.add("w-1/2");
    document.getElementById("sql-label").classList.add("w-full");
    document.getElementById("sql-label").classList.remove("w-1/2");
  });
</script>
