---
import MainText from "../content/work/main-text.md";
import MainTitle from "../content/work/main-title.md";
import GoogieOverview from "../content/work/900913/overview.md";
import GoogieAchievements from "../content/work/900913/achievements.md";
import GianthardOverview from "../content/work/gianthard/overview.md";
import GianthardAchievements from "../content/work/gianthard/achievements.md";
import NectarineOverview from "../content/work/nectarine/overview.md";
import NectarineAchievements from "../content/work/nectarine/achievements.md";
import WetaOverview from "../content/work/weta/overview.md";
import WetaAchievements from "../content/work/weta/achievements.md";
import Content from "./content.astro";
---

<section
  class="w-full h-full flex-row z-20 hidden transition-all duration-1000"
  id="work"
>
  <div
    class="w-full xl:max-w-full xl:w-full h-full flex flex-col p-4 pr-0 transition-all duration-500 z-50"
    id="work-label"
  >
    <div id="topLeft" class="w-full h-full flex flex-col-reverse items-center">
      <a
        style="font-size: clamp(2em, 5vw, 4em); padding-left: clamp(0.5em,10vw,60em); padding-right: clamp(0.5em,10vw,60em);"
        class="font-smooch border border-solid
        hover:border-[#ffcd00] hover:text-[#ffcd00] transition-all duration-200
        border-white bg-secondary-transparent text-white shadow-sm shadow-black
        w-full h-1/2 grid content-center link-horizontal"
        id="work-link">Work</a
      >
    </div>
    <div id="work-space" class="w-full h-full transition-all duration-500">
    </div>
  </div>
  <div
    class="w-full h-[calc(100%-2rem)] my-4 mr-4 text-white transition-all duration-100 flex flex-row overflow-y-auto z-40 bg-none"
    id="work-content"
  >
    <Content>
      <div
        class="text-2xl font-bold tracking-tight text-primary section-content transition-all duration-50"
      >
        UX Engineer at Weta
      </div>
      <div
        class="mt-6 mb-4 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <WetaOverview />
      </div>
      <div
        class="text-xl font-bold tracking-tight text-primary section-content transition-all duration-50"
      >
        Achievements
      </div>
      <div
        class="mt-6 mb-4 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <WetaAchievements />
      </div>
      <div
        class="text-2xl font-bold tracking-tight text-primary section-content transition-all duration-50"
      >
        Systems Administrator at Gianthard
      </div>
      <div
        class="mt-6 mb-4 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <GianthardOverview />
      </div>
      <div
        class="text-xl font-bold tracking-tight text-primary section-content transition-all duration-50"
      >
        Achievements
      </div>
      <div
        class="mt-6 mb-4 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <GianthardAchievements />
      </div>
      <div
        class="text-2xl font-bold tracking-tight text-primary section-content transition-all duration-50"
      >
        Business Analyst at 900913
      </div>
      <div
        class="mt-6 mb-4 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <GoogieOverview />
      </div>
      <div
        class="text-xl font-bold tracking-tight text-primary section-content transition-all duration-50"
      >
        Achievements
      </div>
      <div
        class="mt-6 mb-4 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <GoogieAchievements />
      </div>
      <div
        class="text-2xl font-bold tracking-tight text-primary section-content transition-all duration-50"
      >
        UX Designer at Nectarine
      </div>
      <div
        class="mt-6 mb-4 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <NectarineOverview />
      </div>
      <div
        class="text-xl font-bold tracking-tight text-primary section-content transition-all duration-50"
      >
        Achievements
      </div>
      <div
        class="mt-6 mb-4 text-md leading-8 text-white section-content transition-all duration-50"
      >
        <NectarineAchievements />
      </div>
    </Content>
  </div>
</section>
