---
import AnimatedBackground from "../components/bg/index.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="made by jee-mj" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="./favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <AnimatedBackground />
    <slot />
    <div
      class="bottom-0 left-[50%] translate-x-[-50%] absolute text-xs text-white"
    >
      Copyright &copy; 2023 jee-mj
    </div>
  </body>
</html>
